NODE_ENV=production
PORT=3023
# En Docker, si Mongo corre en el host: mongodb://host.docker.internal:27017/<db>
MONGO_URI=
JWT_SECRET=
FRONTEND_URL=
CORS_ORIGIN=
AUTH_SERVICE_URL=http://localhost:3020
AUTH_SERVICE_HOSTPORT=
WORKDAY_SERVICE_URL=http://localhost:3021
WORKDAY_SERVICE_HOSTPORT=
CORE_SERVICE_URL=http://localhost:3022
CORE_SERVICE_HOSTPORT=
RATE_LIMIT_MAX=500
NODE_DNS_SERVERS=
